<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StoryTellersAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_App</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Auth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_BCrypt</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CLibreSSL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cipher</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Console</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cookies</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Core</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Essentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Fluent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_FluentSQLite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_FluentTester</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Hash</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Jay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Leaf</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Node</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathIndexable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Polymorphic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Random</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Routing</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SMTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SQLite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Sessions</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Settings</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TLS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Transport</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Turnstile</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileCrypto</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileWeb</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TypeSafeRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_URI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Vapor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_VaporSQLite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_WebSockets</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_libc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
